#settingsWidget, #infoWidget
{
  height: 200px;
}

:root {
  --indent: 1em;
}
/* === ROOT === */
.dm-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--jp-layout-color0);
}

/* === MAIN SPLIT AREA === */
.dm-main {
  flex: 1;
  display: flex;
  gap: 8px;
  padding: 8px;
}

/* === PANELS === */
.dm-panel {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--jp-border-color2);
  border-radius: 6px;
  background: var(--jp-layout-color1);
  overflow: hidden;
}

/* === HEADERS === */
.dm-header {
  font-weight: 600;
  padding: 6px 10px;
  background: var(--jp-layout-color2);
  border-bottom: 1px solid var(--jp-border-color2);
  font-size: var(--jp-ui-font-size1);
}

/* === TOOLBAR === */
.dm-toolbar {
  border-bottom: 1px solid var(--jp-border-color2);
  padding: 4px;
}

/* Copy buttons in the middle */
.dm-action-panel {
  display: flex;
  flex-direction: column; /* stack button vertically */
  justify-content: center;   /* vertical center */
  align-items: center;
  gap: 10px;

  height: 100%; 
  /* for a visual box around the copy buttons... but i dont like it
  background: var(--jp-layout-color1);
  border-left: 1px solid var(--jp-border-color2);
  border-right: 1px solid var(--jp-border-color2);*/
  min-width: 50px;
}

/* Make the copy button nicer */
.dm-action-panel button {
  font-size: 20px;
  min-width: 40px;

  min-height: 32px;

  padding: 6px;
  /*padding: 8px 12px;*/
  cursor: pointer;

  background: var(--jp-layout-color2);
  border: 1px solid var(--jp-border-color2);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--jp-ui-font-color1);
}

.dm-action-panel button:hover {
  background: var(--jp-layout-color3);
}

.dm-copy-button .jp-Icon {
  width: 24px;
  height: 24px;
  display: flex;
}

.dm-copy-button svg {
  width: 100%;
  height: 100%;
}

/* === TRANSFER LIST === */
.dm-transfer-header {
  min-height: 28px;   
  padding: 0 8px;
  border-bottom: 1px solid var(--jp-border-color2);
  background: var(--jp-layout-color2);
  display: flex;
  align-items: center;
}

.dm-transfer-title {
  font-size: 13px;
  margin-right: 8px;
  font-weight: bold;
}

.dm-transfer-header-button {
  background-color: var(--jp-layout-color2);
}


/* === Custom Dialogs === */
.dm-dialog-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 320px;
  padding: 8px 4px;
}

.dm-dialog-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--jp-border-color2);
  padding-bottom: 6px;
}

.dm-dialog-label {
  font-weight: 600;
}

.dm-dialog-value {
  font-family: monospace;
}

@import url('~tree-finder/dist/tree-finder.css');
@import url('~tree-finder/dist/theme/material.css');

@import url('./auth.css');
@import url('./treefinder.css');
