.dm_Widget-main *{
  overflow: visible;
}

#settingsWidget, #infoWidget
{
  height: 200px;
}

:root {
  --indent: 1em;
}

@import url('~tree-finder/dist/tree-finder.css');
@import url('~tree-finder/dist/theme/material.css');

@import url('./auth.css');
@import url('./treefinder.css');
